body, wrapper {
    min-height:100vh;
    height:500px;
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
}

.jumbotron {
    background-color: rgb(175, 115, 190);
    border: 2px solid black;
}

.display-4 {
    font-weight: 500;
}

.lead {
    font-weight: 500;
}

footer {
    text-align:center;
    border-top: 2px solid black;
}

hr {
    border: 2px solid black;
    width: 100%;
}