body, wrapper {
    min-height:100vh;
    height:150vh;
    border: 2px solid black;
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.jumbotron {
    background-color: rgb(175, 115, 190);
    border: 5px solid black;
    margin: 2px;
    padding: 2px;
}

.display-4 {
    font-weight: 500;
}

.lead {
    font-weight: 500;
}

footer {
    text-align:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}