body, wrapper {
    min-height:100vh;
    border: 2px solid black;
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.jumbotron {
    background-color: rgb(175, 115, 190);
    border: 5px solid black;
    margin: 2px;
    padding: 2px;
}

.display-4 {
    font-weight: 500;
}

.lead {
    font-weight: 500;
}

#displayMoment {
    font-size: 2.5em;
    margin: 3%;
}

.btn {
    background-image: url(save-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    text-align:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 762px) {
.btn, .d-inline {
    width: 20% !important;
    }
.jumbotron {
    height: 18vh;
    }
.display-4 {
    font-size: 2em;
    }
.lead {
    font-size: 1em;
    }
#displayMoment {
    font-size: 2em;
    }
}

@media only screen and (max-width: 570px) {

.jumbotron {
    height: 18vh;
    justify-content: center;
    }
.display-4 {
    font-size: 1.5em;
}
.lead {
    font-size: 1em;
}
#displayMoment {
    font-size: 1em;
}
}

.past {
    background-color: #d3d3d3;
    color: white;
  }

.present {
    background-color: #ff6961;
    color: white;
  }

.future {
    background-color: #77dd77;
    color: white;
  }
  
  